<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.timedoctor.product.workbench.DefaultPerspective"
            id="net.timedoctor.product.workbench.perspective"
            name="Default"/>
     </extension>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.timedoctor.product.workbench.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.timedoctor.product.workbench.application"
            name="TimeDoctor">
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini"/>
         <property
               name="aboutText"
               value="%aboutText"/>
         <property
               name="aboutImage"
               value="platform:/plugin/net.timedoctor.ui/icons/timedoctor_about.gif"/>
         <property
               name="windowImages"
               value="platform:/plugin/net.timedoctor.ui/icons/timedoctor_16.gif,platform:/plugin/net.timedoctor.ui/icons/timedoctor_32.gif"/>
         <property
               name="appName"
               value="TimeDoctor">
         </property>
      </product>
   </extension>

</plugin>
